<div class="card">
    <div class="header">
        <h2 class="title">{{fireEngine.abbreviation.abbreviation}} {{fireEngine.fireBrigade.name}}</h2>
        <!-- {{fireEngine.fireEngineAbbreviation.abbreviations}} -->
    </div>
    <div class="content">
        <p>FahrzeugID.: #{{fireEngine.id}}</p>
        <p>Baujahr: {{fireEngine.buildYear}}</p>
        <p>{{fireEngine.model}} - {{fireEngine.licensePlate}}</p>
        <p>
            <button
                class="btn btn-default"
                (click)="deleteDetail(fireEngine)">Delete</button>
            <a class="btn btn-default"
               [routerLink]="['/flight-edit', fireEngine.id, { showDetails: true }]">
                Edit
            </a>
        </p>
    </div>
</div>
