<!DOCTYPE html>
<html>
<head>
</head>
<body class="plain error-page-wrapper background-color">
    <div class="content-container">
        <div class="head-line secondary-text-color">
            404
            <br /><br />
        </div>
        <div class="subheader primary-text-color">
            Diese Seite konnte <br>
            leider nicht gefunden werden.<br /><br />
        </div>
        <hr>
        <div class="clearfix"></div>
        <div class="context primary-text-color">
            <br /><br />
            <p>
                Bitte überprüfen Sie die Adresse und versuchen Sie es nochmals.<br />
                Wenn Sie glauben, dass es sich um einen Fehler handelt, melden Sie dieses Problem.<br /><br /><br /><br />
            </p>
        </div>
            <div class="buttons-container">
                <a class="border-button" href="#" target="_blank">Zurück zur Startseite</a>
                <a class="border-button" href="mailto:agnesa.haxha@edu.fh-joanneum.at" target="_blank">Problem melden</a>
        </div>
    </div>
</body>
</html>
