<div class="row">
    <div class="col-md-12">
        <h1>Fahrzeug Detailansicht</h1>
        <div class="card" *ngIf="fireEngine">
            <div class="header">

                ID	Modell	Kennzeichen	Leistung	Baujahr	Aktiv	Bezeichnung	Feuerwehr

                <h2 class="title">{{fireEngine.model}}</h2>
            </div>
            <div class="content">
                <p>Fahrzeug ID: #{{fireEngine.id}}</p>
                <p>Kennzeichen: {{fireEngine.licensePlate}}</p>
                <p>Leistung: {{fireEngine.performance}} kW</p>
                <p>Baujahr: {{fireEngine.buildYear}}</p>
                <p>Aktiv?: {{fireEngine.active}}</p>
                <p>Gehört zu: Feuerwehr {{fireEngine.fireBrigade.name}}</p>
                <p>
                    <button
                        class="btn btn-default"
                        (click)="deleteDetail(fireEngine)">Löschen</button>
                    <a class="btn btn-default"
                       [routerLink]="['/fahrzeuge/fahrzeug-edit', fireEngine.id]">
                        Bearbeiten
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <a class="btn btn-default"
           [routerLink]="['/fahrzeuge']">
            Zurück zur Übersicht
        </a>
    </div>
</div>



