<div [@routerTransition]>
    <h1>Fahrzeugbezeichnungen | <a [routerLink]="['/fahrzeugbezeichnung/fahrzeugbezeichnung-edit']">Neue Fahrzeugbezeichnung hinzufügen</a></h1><br><br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed" *ngIf="fireEngineAbbreviations.length > 0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Abkürzung</th>
                    <th style="padding-right: 4em">Mindestnutzung</th>
                    <th>Beschreibung</th>
                    <th></th>
                </tr>
                </thead>
                <tr *ngFor="let b of fireEngineAbbreviations">
                    <td>{{b.id}}</td>
                    <td>{{b.abbreviation}}</td>
                    <td style="padding-right: 2em">{{b.operatingLife}} Jahre</td>
                    <td>{{b.description}}</td>
                    <td><a class="btn btn-default" (click)="select(b)" [routerLink]="['/fahrzeugbezeichnung/fahrzeugbezeichnung-detail', b.id ]">Auswählen</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
