<div class="card">
    <div class="header">
        <h1 class="title" *ngIf="fireEngine">Fahrzeug Bearbeiten</h1>
        <h1 class="title" *ngIf="!fireEngine">Neues Fahrzeug erstellen</h1>
    </div>
    <div class="content">
        <form *ngIf="fireEngine">

            <div class="form-group">
                <label>Id:</label>
                <input [(ngModel)]="fireEngine.id" name="id" class="form-control">
            </div>

            <div class="form-group">
                <label>Modell:</label>
                <input [(ngModel)]="fireEngine.model" name="model" class="form-control">
            </div>

            <div class="form-group">
                <label>Kennzeichen:</label>
                <input [(ngModel)]="fireEngine.licensePlate" name="licensePlate"
                       class="form-control">
            </div>

            <div class="form-group">
                <label>Leistung:</label>
                <input [(ngModel)]="fireEngine.performance" name="performance"
                       class="form-control">
            </div>

            <div class="form-group">
                <label>Baujahr</label>
                <input [(ngModel)]="fireEngine.buildYear" name="buildYear"
                       class="form-control">
            </div>

            <div class="form-group">
                <label>Aktiv</label>
                <input [(ngModel)]="fireEngine.active" name="active"
                       class="form-control">
            </div>

            <div class="form-group">
                <label>Bezeichnung</label>
                <select [(ngModel)]="fireEngine.abbreviation.id" name="abbreviation" class="form-control">
                    <option *ngFor="let a of abbreviations" [value]="a.id" [selected]="a.id == fireEngine.abbreviation.id">{{a.abbreviation}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Feuerwehr</label>
                <select [(ngModel)]="fireEngine.fireBrigade.id" name="fireBrigade" class="form-control">
                    <option *ngFor="let f of fireBrigades" [value]="f.id" [selected]="f.id == fireEngine.fireBrigade.id">{{f.name}}</option>
                </select>
            </div>



            <div *ngIf="errors" class="alert alert-danger">{{errors}}</div>
            <button *ngIf="fireEngine" class="btn btn-default" (click)="update()">Bearbeiten</button>
            <button *ngIf="!fireEngine" class="btn btn-default" (click)="create()">Bearbeiten</button>

        </form>
    </div>
</div>
<div class="col-md-12">
    <a class="btn btn-default"
       [routerLink]="['/fahrzeuge']">
        Zurück zur Übersicht
    </a>
</div>


