<div class="row">
    <div class="col-md-12" *ngIf="fireEngineAbbreviation">
        <h1>Fahrzeugbezeichnung | {{fireEngineAbbreviation.abbreviation}}</h1>
        <div class="card">
            <div class="content">
                <p>Beschreibung: {{fireEngineAbbreviation.description}}</p>
                <p>Mindestnutzung: {{fireEngineAbbreviation.operatingLife}}</p>
                <p>
                    <button class="btn btn-default" (click)="deleteDetail(fireEngineAbbreviation)">Löschen</button>
                    <a class="btn btn-default" [routerLink]="['/fahrzeugbezeichnung/fahrzeugbezeichnung-edit', fireEngineAbbreviation.id]">Bearbeiten</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12"><a class="btn btn-default" [routerLink]="['/fahrzeugbezeichnung']">Zurück zur Übersicht</a></div>
</div>
