.btn-primary {
    color: #202020;
    background-color: #fff;
    border: 3px solid #b01817;
}
.btn-primary:hover {
    color: #fff;
    background-color: #b01817;
    border-color: #b01817;
}
.jumbotron{
    background-color: #fff;
    border-top: 2px solid #ededed;
    border-bottom: 2px solid #ededed;
}

