<div [@routerTransition]>
    <h1>Feuerwehr | <a [routerLink]="['/feuerwehr/feuerwehr-edit']">Neue Feuerwehr erstellen</a></h1><br><br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed" *ngIf="fireBrigades.length > 0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Straße</th>
                    <th>PLZ</th>
                    <th>Ort</th>
                    <th></th>
                </tr>
                </thead>
                <tr *ngFor="let f of fireBrigades">
                    <td>{{f.id}}</td>
                    <td>{{f.name }}</td>
                    <td>{{f.streetName }}</td>
                    <td>{{f.postalCode }}</td>
                    <td>{{f.postTown}} </td>
                    <td>
                        <a class="btn btn-default" (click)="select(f)"
                           [routerLink]="['/feuerwehr/feuerwehr-detail', f.id ]">
                            Auswählen
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <h2>Sortieren? Filtern nach Ort?</h2>
</div>
