<div [@routerTransition]>
    <h1>Dienstgrade | <a [routerLink]="['/dienstgrade/dienstgrade-edit']">Neuen Dienstgrad hinzufügen</a></h1><br><br>
    <div class="row">
        <div class="col-md-12">
            <h2>Filtern/Suchen nach:</h2>
            <form class="form-group">
                <button class="btn btn-default" (click)="showForm('abbreviation')">Abkürzung</button>
                <button class="btn btn-default" (click)="showForm('description')">Beschreibung</button>
            </form>
            <br>
            <form class="form-group" *ngIf="filterAbbreviation">
            <div class="form-group">
                <label>Suchen nach Abkürzung:</label>
                <input type="text" class="form-control" id="abbreviation" [(ngModel)]="rank" name="rankAbbreviation">
            </div>
            <button class="btn btn-default" (click)="filterByRankAbbreviation(rank)">Filtern!</button>
            <button *ngIf="filtered" class="btn btn-default" (click)="showAllRanks()">Filter aufheben</button>
        </form>
            <form class="form-group" *ngIf="filterDescription">
                <div class="form-group">
                    <label>Suchen nach Beschreibung:</label>
                    <input type="text" class="form-control" id="description" [(ngModel)]="rank" name="rankDescription">
                </div>
                <button class="btn btn-default" (click)="filterByRankDescription(rank)">Filtern!</button>
                <button *ngIf="filtered" class="btn btn-default" (click)="showAllRanks()">Filter aufheben</button>
            </form>


<br>
            <table class="table table-condensed" *ngIf="ranks.length > 0">
                <thead>
                <tr>
                    <th>Abkürzung</th>
                    <th>Beschreibung</th>
                    <th></th>
                </tr>
                </thead>
                <tr *ngFor="let d of ranks">
                    <td>{{d.abbreviation }}</td>
                    <td>{{d.description }}</td>
                    <td><a class="btn btn-default" (click)="select(d)" [routerLink]="['/dienstgrade/dienstgrade-detail', d.id ]">Auswählen</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
