<div [@routerTransition]>
    <h1>Feuerwehrfahrzeuge</h1>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-default"
               [routerLink]="['/fahrzeuge/fahrzeug-edit']">
                Neues Fahrzeug erstellen
            </a>
        </div>
        <div class="col-md-12">
            <form class="form-group">
                <div class="form-group">
                    <label>Filtern nach Feuerwehr:</label>
                    <select [(ngModel)]="fireBrigadeId" name="fireBrigadeId" class="form-control">
                        <option *ngFor="let f of fireBrigades" [value]="f.id" >{{f.name}}</option>
                    </select>
                </div>
                <button class="btn btn-default" (click)="filterByFireBrigade(fireBrigadeId)">Filtern!</button>
                <button *ngIf="filtered" class="btn btn-default" (click)="showAllFireEngines()">Filter aufheben</button>
            </form>
        </div>
        <div class="col-md-12">
            <table class="table table-condensed" *ngIf="fireEngines.length > 0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Modell</th>
                    <th>Kennzeichen</th>
                    <th>Leistung</th>
                    <th>Baujahr</th>
                    <th>Aktiv</th>
                    <th>Bezeichnung</th>
                    <th>Feuerwehr</th>
                    <th></th>
                </tr>
                </thead>
                <tr *ngFor="let f of fireEngines">
                    <td>{{f.id}}</td>
                    <td>{{f.model }}</td>
                    <td>{{f.licensePlate }}</td>
                    <td>{{f.performance }} kW</td>
                    <td>{{f.buildYear}} </td>
                    <td>{{f.active}} </td>
                    <td>{{f.abbreviation.abbreviation}} </td>
                    <td>{{f.fireBrigade.name}} </td>
                    <td>
                        <a class="btn btn-default" (click)="select(f)"
                           [routerLink]="['/fahrzeuge/fahrzeug-detail', f.id ]">
                            Auswählen
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <h2>Sortiererei?</h2>
</div>
