<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">

        <a routerLink="/dashboard" class="list-group-item">
           <img src="assets/images/logo.png" width="100px"/>
        </a>

        <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-home fa-fw"></i>{{'Overview' | translate }}
        </a>
        <a [routerLink]="['/statistik']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-line-chart"></i>{{'Statistics' | translate }}
        </a>
        <a [routerLink]="['/mitarbeiter']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-users fa-fw"></i>{{'Employees' | translate }}
        </a>
        <a [routerLink]="['/dienstgrade']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-shield fa-fw"></i>{{'Ranks' | translate }}
        </a>
        <a [routerLink]="['/feuerwehr']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fire-extinguisher fa-fw"></i>{{'Firebrigades' | translate }}
        </a>
        <a [routerLink]="['/status']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-user fa-fw"></i>{{'Status' | translate }}
        </a>
        <a [routerLink]="['/fahrzeuge']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-bus fa-fw"></i>{{'Vehicles' | translate }}
        </a>
        <a [routerLink]="['/fahrzeugbezeichnung']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-truck fa-fw"></i>{{'Vehicle Names' | translate }}
        </a>

        <p></p>
        <p></p>

        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Bootstrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Bootstrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a>
        <!--
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>

        </div> -->
    </div>
</nav>
