<div class="row">
    <div class="col-md-12" *ngIf="fireFighter">
        <h1>Mitarbeiter Detailansicht</h1>
        <div class="card">
            <div class="content">
                <p>ID: {{fireFighter.id}}</p>
                <p>Titel: {{fireFighter.title}}</p>
                <p>Vorname: {{fireFighter.name}}</p>
                <p>Nachname: {{fireFighter.surname}}</p>
                <p>Feuerwehr: {{fireFighter.fireBrigade.name}}</p>
                <p>
                    <button class="btn btn-default" (click)="deleteDetail(fireFighter)">Löschen</button>
                    <a class="btn btn-default" [routerLink]="['/mitarbeiter/mitarbeiter-edit', fireFighter.id]">Bearbeiten</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12"><a class="btn btn-default" [routerLink]="['/mitarbeiter']">Zurück zur Übersicht</a></div>
</div>
