<div class="row">
    <div class="col-md-12">
        <h1>Mitarbeiter Detailansicht</h1>
        <div class="card" *ngIf="fireFighter">
            <div class="header">
                <h2 class="title"></h2>
            </div>
            <div class="content">
                <p>Mitarbeiter-ID: #{{fireFighter.id}}</p>
                <p>Geschlecht: {{fireFighter.gender}}</p>
                <p>Titel: {{fireFighter.title}}</p>
                <p>Familienname: {{fireFighter.surname}}</p>
                <p>Vorname: {{fireFighter.name}}</p>
                <p>Geburtsdatum: {{fireFighter.dayOfBirth}}</p>
                <p>Dienstgrad: {{fireFighter.rank.abbreviation}}</p>
                <p>Feuerwehr: {{fireFighter.fireBrigade.name}}</p>
                <p>Status: {{fireFighter.fireFighterStatus.description}}</p>
                <p>
                    <button class="btn btn-default" (click)="deleteDetail(fireFighter)">Löschen</button>
                    <a class="btn btn-default" [routerLink]="['/mitarbeiter/mitarbeiter-edit', fireFighter.id]">Bearbeiten</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12"><a class="btn btn-default" [routerLink]="['/mitarbeiter']">Zurück zur Übersicht</a></div>
</div>



